doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- block content
    h2#hi-there-i-m-mahesh Hi there, I&apos;m Mahesh
    p I am a DevOps Engineer at IBM.
    h3#about-me- About ME!
    ul
      li &#x1F52D; Currently working on a DevOps Project
      li &#x1F331; Learning everything &#x1F43E;
      li &#x1F46F; DevOps 
      li &#x1F945; Goals: Kaizen&#x2744;
      li
        | &#x26A1; Fun fact: I am a hobbyist photographer &#x1F4F8; and an automobile enthusiast &#x1F3CE; and a backyard mechanic
      li
        | &#x1F308; I try to incorporate the best practices of the automotive world in all of my projects.
      br
    hr
    h3#my-latest-blog-posts &#x1F4D5; My Latest Blog Posts
    // BLOG-POST-LIST:START
    ul
      li
        a(href='https://www.linkedin.com/pulse/keydb-its-redis-we-know-mahesh-guruprasad/') KeyDB: Its Redis but not as we know it
      li
        a(href='https://www.linkedin.com/pulse/kubernetes-docker-security-best-practices-mahesh-guruprasad/') Kubernetes and Docker Security - Best Practices
        // BLOG-POST-LIST:END
    hr    
