doctype html
html
  head
    title= "application api"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      p#api_blk you are able to read this because your api worked. yay!